.actionBarContainer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 253, 253);
}
.header * {
  margin-right: 10px;
}
.icon {
  color: rgb(48, 155, 48);
  font-size: 2.2rem;
  margin-right: 50px;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  width: 100%;
  padding: 20px;
}
