.icon {
  color: rgb(48, 155, 48);
  font-size: 2.2rem;
  margin-right: 20px;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.mainFunctionButtons {
  width: 30%;
  height: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 60px;
}

.actionBarContainer {
  width: 70%;
  height: 35px;
  display: flex;
  align-items: center;
}

.divider {
  color: rgba(129, 133, 129, 0.37);
  font-size: 2.2rem;
}
.mainFunctionButtons *,
.actionBarContainer * {
  margin-right: 10px;
}
.sortButton * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconUp {
  margin-left: 10px;
}
